<div id="board" class="board" ng-repeat="todoFile in wallBoard.boards">
  <h4 class="boardTitle" contenteditable="true" value="Title">{{todoFile.title}}</h4>

  <!-- controller -->
  <boards></boards>
  <!-- <div ng-include="boards.html"></div> -->

  <!-- <section ng-controller="TableFileController as liBoard">
    <ul>
      <li ng-repeat="files in todoFile.toDoList">
        <i class="del"><button class="btnDelFolder pull-right">X</button></i>
        <a href="#"><div class="folder"><span placeholder="Card name" contenteditable="true">{{files}}</span></div></a>
      </li>
    </ul>
  </section> -->

  <!-- controller -->

  <!-- <formController></formController> -->
  <!-- <div ng-include="formController.html"></div> -->
<!--  " -->
  <form name="Todoform"  ng-class="{ 'hidden': ! daniel }" ng-controller="FormController as fileCtrl" ng-submit="fileCtrl.addFile(todoFile)">
    <input type="text" class="addFolderName" ng-model="fileCtrl.file.toDoList" required>
    <div class="fixed-top">
      <button type="button" name="cancelAddFolder" class="cancel">cancel</button>
      <button type="submit" id="submit" value="Submit" name="acceptAddFolder" class="add pull-right" novalidate>add</button>
    </div>
  </form>

  <button type="button" class="newFolder" ng-click="daniel = ! daniel">New File</button><!--  -->


</div>
