<!-- ng-controller="FormController as fileCtrl" " -->
       <!-- <form name="Todoform" ng-submit="fileCtrl.addFile(todoFile)">
         <input type="text" class="addFolderName" ng-class="{ 'hidden': ! showAddInput }" ng-model="fileCtrl.file.toDoList" required>
         <div class="fixed-top">
           <button type="button" name="cancelAddFolder" class="cancel" ng-class="{ 'hidden': ! showAddInput }">cancel</button>
           <button type="submit" id="submit" value="Submit" name="acceptAddFolder" class="add pull-right" ng-class="{ 'hidden': ! showAddInput }" novalidate>add</button>
         </div>
       </form> -->


       <!-- <form name="Todoform" ng-submit="fileCtrl.addFile(todoFile)">
         <input type="text" class="addFolderName" ng-class="{ 'hidden': ! daniel }" ng-model="fileCtrl.file.toDoList" required>
         <div class="fixed-top">
           <button type="button" name="cancelAddFolder" class="cancel" ng-class="{ 'hidden': ! daniel }">cancel</button>
           <button type="submit" id="submit" value="Submit" name="acceptAddFolder" class="add pull-right" ng-class="{ 'hidden': ! daniel }" novalidate>add</button>
         </div>
       </form> -->
