/*----------*//*----------*//*----------GLOBAL----------*//*----------*//*----------*/
a{
  text-decoration: none;
}
a:hover, a:visited, a:active {
  text-decoration: none!important;
}
button{
  background: none;
  border: none;
  padding: 5px;
  min-width: 60px;
}
button:hover{
  font-weight: bolder;
}
input{
  border: none;
  border-bottom: solid 2px #c9c9c9;
  border-radius: 5px;
  padding: 5px;
  transition: border 0.3s;
  min-height: 2em;
  width: 100%;
}
input:focus{
  border-bottom: solid 2px #969696;
  outline: none;
}
h1,h2,h3,h4,h5,h6{
  margin: none!important;
  padding: none!important;
}
span{
  display: block;
  min-height: 1em!important;
}
li{
  list-style: none;
}
ol{
  padding: 0!important;
}
ul{
  padding: 0!important;
}
.container-fluid{
  padding: none!important;
}
/*----------*//*----------*//*----------SECTION----------*//*----------*//*----------*/
#boardsModule{
  display: inline-block;
  top: 0;
}
#wallModule{
  background: #154a69;
  padding: 50px 20px 50px 20px;
}
.btnDelFolder{
  background: none!important;
  color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  vertical-align: middle!important;
  min-width: 25px!important;
}
.btnDelFolder:hover{
  background: none!important;
  color: #7d7c7c;
}
.newBoard{
  background: #e3e3e3;
  border-color: #cccccc;;
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
  width: 200px;
}
.board{
  background: #e3e3e3;
  border-color: #cccccc;;
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
  display: inline-block;
  height: auto;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
  width: 200px;
}
.folder{
  background: #ffffff;
  height: auto;
  border-color: #cfcfcf;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  padding: 5px;
  width: 100%;
}
.folder:hover{
  background: rgb(201, 201, 201);
  transition: background 0.2s;
}
.newFolder{
  background: none;
  border: none;
  height: 30px;
  width: 100%;
}
.btnDelFolder{
  background: none;
  box-shadow: none;
  border: none;
}
